@charset "utf-8";
.bagiiansikaki {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    color: #FFFFFF;
    background-color: #181D31;
    text-align: center;
}
